body {
  text-align: center;
  background-color: rgba(0,0,0,.1);
}

body * {
  font-family: sans-serif;
}

table {
  margin: 1em;
  display: inline-block;
  background-color: rgba(255,255,255,1);
  border: 2px solid rgba(0,0,0,.2);
  padding: 0 50px 50px 0;
  box-shadow: 2px 6px 6px rgba(0,0,0,.1);
}

table {
}

th, td, tr {
  width: 50px;
  height: 50px;
}

tbody:first-child tr:first-child {
  border: none;
}

tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
  background-color: #36454f;
}

tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
  background-color: #f5f5dc;
}

div {
  width: 50px;
  height: 50px;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

.black {
  color: #36454f;
}

.red {
  color: #CC0000;
}

.red-pawn {
  background-image: url("/img/red-pawn.png");
}

.red-king {
  background-image: url("/img/red-king.png");
}

.black-pawn {
  background-image: url("/img/black-pawn.png");
}

.black-king {
  background-image: url("/img/black-king.png");
}
